@using EnumsNET;
@using SWTarefas.Application.UsesCases.TarefasUseCases.DTO.Enums;
@using SWTarefas.Application.UsesCases.TarefasUseCasesSite.ViewModel
@model IEnumerable<TarefaViewModel>
@using static SWTarefas.Application.UsesCases.TarefasUseCases.DTO.Enums.StatusEnum
@using MvcPagedList.Core;
@using SWTarefas.Site.Enums;

@{
	ViewData["Title"] = "Listagem de Tarefas";
}

<p>
	<a asp-action="Create" class="btn btn-primary btn-sm" style="background-color: #46068E; border-color: #46068E;">Nova Tarefa</a>
</p>

<form asp-action="Index" asp-controller="Tarefas" method="get">
	<div class="col-md-12">
		<div class="accordion" id="accordionFilters">
			<div class="accordion-item">
				<button class="accordion-button btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="true" aria-controls="collapseFilters" style="background-color: white; box-shadow: none; border-color: white; color: black;">
					Filtros
				</button>
				<div id="collapseFilters" class="accordion-collapse show" data-bs-parent="#accordionFilters">
					<div class="accordion-body" style="padding: 0rem 1rem 1rem 1rem;">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Status</label>
									<select name="status" class="form-control">
										<option></option>
										@{
											foreach (var item in Html.GetEnumSelectList<TarefaStatus>())
											{
												if (item.Value == ViewBag.Status)
												{
													<option value="@item.Value" selected>@item.Text</option>
												}
												else{
													<option value="@item.Value">@item.Text</option>
												}
											}
										}
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<label class="control-label">Título</label>
								<input name="titulo" class="form-control" value="@ViewBag.Titulo" />
							</div>
							<div class="col-md-6">
								<label class="control-label">Data Prevista</label>
								<input type="date" name="dataPrevista" class="form-control" value="@ViewBag.DataPrevista" />
							</div>
							<div class="col-md-6">
								<label class="control-label">Data Realizada</label>
								<input type="date" id="dataRealizada" name="dataRealizada" class="form-control" value="@ViewBag.DataRealizada" />
							</div>
							<div class="col">
								<div class="col-md-16">
									<div class="card" style="margin-top: 5px;">
										<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">Ordenação - Data Prevista</h6>
											<select name="dataPrevistaOrd" id="dataPrevistaOrd" class="form-control" onchange="VerificaOrdenacaoPrevista()">
												<option></option>
												@{
													foreach (var item in Html.GetEnumSelectList<EnumSorting.Sorting>())
													{
														if (item.Value == ViewBag.DataPrevistaOrd)
														{
															<option value="@item.Value" selected>@item.Text</option>
														}
														else
														{
															<option value="@item.Value">@item.Text</option>
														}
													}
												}
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="col-md-12">
									<div class="card" style="margin-top: 5px;">
										<div class="card-body">
											<h6 class="card-subtitle mb-2 text-muted">Ordenação - Data Realizada</h6>
											<select name="dataRealizadaOrd" id="dataRealizadaOrd" class="form-control" onchange="VerificaOrdenacaoRealizada()">
												<option></option>
												@{
													foreach (var item in Html.GetEnumSelectList<EnumSorting.Sorting>())
													{
														if (item.Value == ViewBag.DataRealizadaOrd)
														{
															<option value="@item.Value" selected>@item.Text</option>
														}
														else
														{
															<option value="@item.Value">@item.Text</option>
														}
													}
												}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-top: 5px;">
			<input type="submit" value="Pesquisar" class="btn btn-success btn-sm" />
		</div>
	</div>
</form>
<table id="tableTarefas" class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>
				@Html.DisplayNameFor(model => model.Titulo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descricao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataConclusaoPrevista)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataConclusaoRealizada)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td style="width: 0px; white-space: nowrap;">
					<div class="btn-group" role="group">
						<a asp-action="Edit" asp-route-id="@item.TarefaId" class="btn btn-secondary btn-sm">Editar</a>
						<a onclick="ExcluirConfirm(@item.TarefaId)" class="btn btn-danger btn-sm">Excluir</a>
					</div>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Titulo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataConclusaoPrevista)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataConclusaoRealizada)
				</td>
				<td>
					@((StatusEnum.TarefaStatus)item.Status)
				</td>
			</tr>
		}
	</tbody>
</table>

@PagedList.Pager(actionName: "Index", controllerName: "Tarefas",
	routeValues: new
	{
		titulo = ViewBag.Titulo,
		status = ViewBag.Status,
		ViewBag.DataPrevistaOrd,
		ViewBag.DataRealizadaOrd,
		ViewBag.DataPrevista,
		ViewBag.DataRealizada
	},
	pagerOptions: new PagerOptions
	{
		currentPage = ViewBag.CurrentPage,
		PageCount = ViewBag.PageSize,
		TotalItemCount = ViewBag.TotalItemCount,
		DisplayInfoArea = false,
		GetStyleSheetFileFromCdn = false
	})

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/datatables.net/datatables.datatables.min.css" rel="stylesheet" />
<link href="~/css/mvcpagedlist.core.css" rel="stylesheet" />

<bootstrap-modal id="modalExclusao" title="Excluir Registro" url-ajax="/Tarefas/DeleteAjax">
	<p>Tem certeza que deseja excluir esse registro?</p>
</bootstrap-modal>

<script type="text/javascript">
	$(function() {
		DataTable.type('date', 'className', ' ');

		new DataTable('#tableTarefas', {
			info: false,
			paging: false,
			searching: false,
			"columnDefs": [
				{ "orderable": false, "targets": 0}
			]
		});
	});

	function VerificaOrdenacaoRealizada(){
		$('#dataPrevistaOrd').val('');;
	}
	function VerificaOrdenacaoPrevista(){
		$('#dataRealizadaOrd').val('');;
	}
</script>